<ng-container *ngIf="dontShowHeaderinLogin()">
    <nav *ngIf="loginService.isUserLoggedIn()"
        class="d-flex justify-content-between navbar navbar-expand-lg navbar-light bg-white headerNav">
        <div class="container CustomContainer">
            <a class="navbar-brand">
                <img src="../../../../assets/images/logo.png" class="brand-image" alt="" />
            </a>
            <div *ngIf="userProfile?.email" class="d-inline-flex mt-2 mt-md-0 ms-md-auto px-3 align-items-center">
                <div class="me-5 create-query-div">
                    <a class="py-2 text-decoration-none home" (click)="gotohome()">
                        Home
                    </a>
                </div>
                <div *ngIf="userProfile?.roleId == Roles.admin">
                    <a class="me-5 text-dark text-decoration-none adminDashboard" [routerLink]="['/admin/states']">
                        Admin</a>
                </div>
            </div>
            <div class="nameandbutton" *ngIf="userProfile?.email">
                <div class="dropdown text-end">
                    <a class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img [src]="userProfile.Profile.image" alt="" class="rounded-circle"
                            style="height: 35px; width: 35px; object-fit: cover" />&nbsp;&nbsp;
                        <span class="pe-1 nameandemail">
                            <span>
                                {{ userProfile.Profile.firstName }} {{ userProfile.Profile.lastName }}
                            </span>
                            <span class="text-email"> {{ getUserRole(userProfile) }}</span>
                        </span>
                        <fa-icon [icon]="faAngleDown" style="margin-left: 5px; font-size: 18px"></fa-icon>
                        <span class="nav-username"></span>
                    </a>
                    <ul class="dropdown-menu dropdownTop userprofileDropDown text-small"
                        aria-labelledby="dropdownUser1">
                        <li class="mb-2">
                            <div class="userinfo">
                                <div class="row">
                                    <div class="col-sm-4 d-flex align-items-center">
                                        <div routerLink="/profile" class="userinfo-image">
                                            <img [src]="userProfile.Profile.image" alt="" class="rounded-circle" />
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="userinfo-name">

                                            <span class="text-email role_org">{{ getUserRole(userProfile) }}
                                            </span>
                                            <span class="text-email"><fa-icon [icon]="faEnvelope"></fa-icon>
                                                {{ userProfile.email }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a [routerLink]="['/editprofile']" class="profileLink dropdown-item">
                                <fa-icon [icon]="faPencil"></fa-icon> Edit Profile
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/resetpassword']" class="profileLink dropdown-item">
                                <fa-icon [icon]="faLock"></fa-icon> Change Password
                            </a>
                        </li>
                        <hr />
                        <li class="d-flex justify-content-center">
                            <a (click)="logout()" style="cursor: pointer"
                                class="dropdown-item text-center mb-3 mt-3 button">
                                <fa-icon [icon]="faArrowRightFromBracket"></fa-icon> Sign out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <nav *ngIf="!loginService.isUserLoggedIn()"
        class="d-flex justify-content-between navbar navbar-expand-lg navbar-light bg-white offline-header headerNav">
        <div class="container CustomContainer">
            <a class="navbar-brand" [routerLink]="['/']">
                <img src="../../../../assets/images/logo.png" width="230" height="60"
                    style="margin-left: 0px; object-fit: contain" class="d-inline-block align-top" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                (click)="navbarCollapsed = !navbarCollapsed"><fa-icon [icon]="faBars"></fa-icon>
            </button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse mobileScreenClass"
                [class.collapse]="navbarCollapsed">
                <ul class="navbar-nav align-items-center me-auto">
                    <li class="nav-item"><a aria-current="page" routerLinkActive="active" [routerLink]="['/']"
                            [routerLinkActiveOptions]="{exact: true}" class="nav-link">Home</a></li>
                    <li class="nav-item"><a routerLinkActive="active" [routerLink]="['/aboutus']"
                            [routerLinkActiveOptions]="{exact: true}" class="nav-link">About</a></li>
                    <li class="nav-item"><a routerLinkActive="active" [routerLink]="['/contactus']"
                            [routerLinkActiveOptions]="{exact: true}" class="nav-link">Contact Us</a></li>
                </ul>
                <ul class="navbar-nav signButtons align-items-center ms-0">
                    <li class="nav-item ms-auto"><a [routerLink]="['/login']" class="nav-link nav-login">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13 26C5.82008 26 0 20.1799 0 13C0 5.82008 5.82008 0 13 0C20.1799 0 26 5.82008 26 13C26 20.1799 20.1799 26 13 26ZM12.0934 8.74921C11.932 8.58941 11.6704 8.58941 11.5092 8.74921C11.348 8.9086 11.392 9.16755 11.5532 9.32755L14.7336 12.5342L6.09584 12.5328C5.86793 12.5328 5.68294 12.7746 5.68294 13.0003C5.68294 13.226 5.86793 13.4678 6.09584 13.4678L14.729 13.4664L11.5535 16.6731C11.3921 16.8331 11.3484 17.0916 11.5096 17.2514C11.671 17.4112 11.9326 17.4112 12.0938 17.2514L16.016 13.3673C16.1774 13.2073 16.1778 12.7932 16.016 12.6332L12.0934 8.74921ZM19.7227 6.03685C19.7227 5.81116 19.5377 5.62798 19.3095 5.62798H16.3895C16.1615 5.62798 15.9764 5.7912 15.9764 6.0171C15.9764 6.243 16.1615 6.40683 16.3895 6.40683H18.9459V19.5936H16.3895C16.1615 19.5936 15.9764 19.757 15.9764 19.9833C15.9764 20.209 16.1615 20.3724 16.3895 20.3724H19.3095C19.5379 20.3724 19.7227 20.1892 19.7227 19.9636V6.03685Z"
                                    fill="#F9FAFC"></path>
                            </svg>
                            Login
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</ng-container>