<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 mt-5 mb-5">
            <ratelist-departmentmenu></ratelist-departmentmenu>
        </div>
        <div *ngIf="loading" class="col-9">
            <div>
                <div class="col-12 d-flex justify-content-center align-items-center" style="height: 80vh">
                    <div class="spinner-border text-primary" role="status"></div>
                </div>
            </div>
        </div>
        <div *ngIf="!loading" class="col-md-8">
            <form #form="ngForm" (ngSubmit)="saveUser()">
                <div class=" card shadow p-3 col-12 mt-5 mb-4">
                    <div class="mb-3 form-group position-relative">
                        <label for="name">First Name</label>
                        <input type="text" class="form-control input_feild" id="firstName" name="firstName"
                            placeholder=" " [(ngModel)]="userProfile.Profile.firstName" required />
                    </div>
                    <div class="mb-3 form-group position-relative">
                        <label for="name">Last Name</label>
                        <input type="text" class="form-control input_feild" id="lastName" name="lastName"
                            placeholder=" " [(ngModel)]="userProfile.Profile.lastName" required />
                    </div>
                    <div class="mb-3 form-group position-relative">
                        <label for="name">Email</label>
                        <input type="text" class="form-control input_feild" id="email" name="email" placeholder=" "
                            [(ngModel)]="userProfile.email" required disabled="" />
                    </div>
                    <!-- select role -->
                    <div class="mb-3 form-group position-relative">
                        <label for="name">Role</label>
                        <select class="form-control input_feild" id="role" name="role" [(ngModel)]="userProfile.roleId"
                            required>
                            <option *ngFor="let userrole of roles" [value]="userrole.id">{{userrole.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <button type="submit" class="btn buttonFull" [disabled]="!form.valid">
                        save
                    </button>
                    <button type="button" (click)="back()" class="btn buttonFull buttonFull-transparent ms-2">
                        cancel
                    </button>
                </div>
            </form>
        </div>
    </div>