<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 mb-5">
            <ratelist-adminmenu></ratelist-adminmenu>
        </div>
        <!-- <div *ngIf="loading" class="col-8">
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center" style="height: 80vh">
                    <div class="spinner-border text-primary" role="status"></div>
                </div>
            </div>
        </div>
        <div *ngIf="errorStatus" class="col-8">
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center" style="height: 80vh">
                    {{ error }}
                </div>
            </div>
        </div> -->
        <div *ngIf="!loading" class="col-md-8 mt-5 mb-5">
            <div class="row">
                <div class="d-flex justify-content-between align-items-center manage-specialty">
                    <h3 class="card-title">Manage Commodities</h3>
                    <button class="btn buttonFull" (click)="addCommodities()"> Add Commdity </button>
                </div>
                <div class="card shadow mt-5">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover" datatable>
                                <thead>
                                    <tr>
                                        <th scope="col">Index</th>
                                        <th scope="col">Commodity</th>
                                        <th scope="cole">Category</th>   
                                        <th scope="col">Can Complaint</th>                                     
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let commodity of commodities; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{commodity.name}}</td>
                                        <td>{{
                                            getCategoryName(commodity.categoryId)
                                        }}</td>
                                        <td>{{commodity.canComplaint}}</td>
                                        <td>
                                            <fa-icon [icon]="faEdit" (click)="editCommodities(commodity.id)"></fa-icon>
                                            <fa-icon [icon]="faTrash" (click)="deleteCommodities(commodity.id)"></fa-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</div>