<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card sidebar_query">
                <div class="card-body">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item mb-3">
                            <a class="nav-link py-3" routerLinkActive="active"
                                [routerLink]="['/moderator']" pathMatch="full">
                                Home
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link py-3" routerLinkActive="active"
                                [routerLink]="['/moderator/mandicommodities']" pathMatch="full">
                                Mandi commodities
                            </a>
                        </li>
                        <!-- <li class="nav-item mb-3">
                            <a class="nav-link py-3" routerLinkActive="active"
                                [routerLink]="['/moderator/districtrateconfiguration']" pathMatch="full">
                                District rate
                            </a>
                        </li> -->
                        <li class="nav-item mb-3">
                            <a class="nav-link py-3" routerLinkActive="active"
                                [routerLink]="['/moderator/mandicommoditypricing']" pathMatch="full">
                                Mandi Commodity Pricing
                            </a>
                        </li>
                        <!-- <li class="nav-item mb-3">
                            <a class="nav-link py-3" routerLinkActive="active" [routerLink]="['/moderator/retailratelist']"
                                pathMatch="full">
                                Retail Rate List
                            </a>
                        </li> -->
                        <li class="nav-item mb-3">
                            <a class="nav-link py-3" routerLinkActive="active" [routerLink]="['/moderator/mandiusers']"
                                pathMatch="full">
                                mandi users
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>