<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card sidebar_query">
                <div class="card-body">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item mb-3">
                            <a class="nav-link py-3" routerLinkActive="active" [routerLink]="['/department']"
                                [routerLinkActiveOptions]=" {exact: true}" pathMatch="full">
                                Home
                            </a>
                        </li>
                       
                        <li class="nav-item mb-3">
                            <a class="nav-link py-3" [routerLinkActiveOptions]=" {exact: true}"
                                routerLinkActive="active" [routerLink]="['/department/complaints']" pathMatch="full">
                                complaints
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>