<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 mb-5">
            <ratelist-adminmenu></ratelist-adminmenu>
        </div>
        <div *ngIf="loading" class="col-md-9">
            <div>
                <div class="col-12 d-flex justify-content-center align-items-center" style="height: 80vh">
                    <div class="spinner-border text-primary" role="status"></div>
                </div>
            </div>
        </div>
        <div *ngIf="!loading" class="col-9">
            <form #form="ngForm" (ngSubmit)="saveUnit()">
                <div class="col-12 mb-4">
                    <div class="mb-3 form-group position-relative">
                        <label for="name">Unit Name</label>
                        <input type="text" class="form-control input_feild" id="name" name="name" placeholder=" "
                            [(ngModel)]="unit.name" required />
                        
                    </div>
                </div>
                <div class="col-12 mb-4" *ngIf="edit || imageset">
                    <label for="name">Image</label>
                    <div class="mb-3 mt-2 form-group position-relative ">

                        <img [src]="unit.image" class="categoryimage image-size" />
                    </div>
                </div>

                <div class="col-12 mb-4">
                    <div class="mb-3 form-group position-relative">
                        <label for="name">Upload Image</label>
                        <input 
                      
                        accept="image/jpeg, image/png , image/jpg"
                        type="file" class="form-control input_feild" id="image" name="image" placeholder=" "
                            [(ngModel)]="unit.image" required (change)="onFileChange($event)" />
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn buttonFull" [disabled]="!form.valid">
                        save
                    </button>
                    <button type="button" (click)="back()" class="btn buttonFull buttonFull-transparent ms-2">
                        cancel
                    </button>
                </div>
            </form>
        </div>

    </div>