<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <ratelist-adminmenu></ratelist-adminmenu>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-6 manage-specialty mt-3">
                    <h3 *ngIf="edit" class="card-title">Edit Role</h3>
                    <h3 *ngIf="!edit" class="card-title">Add Role</h3>
                </div>
                <div class="col-6 text-end">
                    <button type="button" (click)="back()" class="btn buttonFull buttonFull-transparent">
                        Back
                    </button>
                </div>
            </div>
            <div class="row mt-5">
                <form #form="ngForm" (ngSubmit)="saveRole()">
                    <div class="col-12 mb-4">
                        <div class="mb-3 form-group position-relative">
                            <label for="name">RoleName</label>
                            <input type="text" class="form-control input_feild" id="name" name="name" placeholder=" "
                                [(ngModel)]="role.name" required />
                        </div>
                        
                        
                    </div>
                    <div class="col-12 mb-3 d-flex justify-content-end">
                        <button type="submit" class="btn buttonFull buttonFull-primary">Save</button>
                        <button type="button" (click)="back()" class="btn buttonFull buttonFull-transparent">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
