<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <ratelist-corporatemenu></ratelist-corporatemenu>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-6 manage-specialty mt-3">
                    <h3 *ngIf="edit" class="card-title">Edit Commodity</h3>
                    <h3 *ngIf="!edit" class="card-title">Add Commodity</h3>
                </div>
                <div class="col-6 text-end">
                    <button type="button" (click)="back()" class="btn buttonFull buttonFull-transparent">
                        Back
                    </button>
                </div>
            </div>
            <div class="row mt-5">
                <form >
                    
                </form>

            </div>
        </div>
    </div>