<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-2">
      <ratelist-departmentmenu></ratelist-departmentmenu>
    </div>
    <div class="col-12 col-md-10">
      <div class="row">
        <div *ngIf="loading">
          <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center" style="height: 80vh">
              <div class="spinner-border text-primary" role="status"></div>
            </div>
          </div>
        </div>
        <div *ngIf="errorStatus">
          <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center" style="height: 80vh">
              <span class="text-wrap">{{ error }}</span>
            </div>
          </div>
        </div>
        <div *ngIf="!loading" class="col-12">
          <div class="row mt-5 mb-5">
            <div class="d-flex justify-content-between align-items-center manage-specialty">
              <h3 class="card-title">Complaints Received</h3>
            </div>
            <div class="card shadow show-complaints">
              <div (click)="filterComplaints(0)" class="complaints-received">
                <p class="complaints-received-text">Complaints Received</p>
                <h4 class="complaints-received-text-p">{{ complaints.length }}</h4>
              </div>
              <div *ngFor="let complaints of complaintStauses;let i = index" (click)="filterComplaints(i+1)"
                class="complaints-received">
                <h4 class="complaint-length-text">{{ getComplaintStatus(i+1)}}</h4>
                <p class="complaints-received-text-p">{{ complaints }}</p>
              </div>
            </div>
            <div class="card shadow mt-4">
              <div class="card-body">
                <div class="table-responsive">
                  <table id="complaintsTable" class="table table-bordered table-striped table-hover" datatable
                    [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                      <tr>
                        <th>Date Received</th>
                        <th>Complaint</th>
                        <th>User Name</th>
                        <th>Complaint</th>
                        <th>Status</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let complaint of filterdComplaints">
                        <td>{{ complaint.createdAt | date }}</td>
                        <td>{{ complaint.User.mobileNumber }}</td>
                        <td>{{ complaint.User.Profile.firstName }}
                          {{ complaint.User.Profile.lastName}}
                        </td>
                        <td>{{ complaint.bussinessDescription.slice(0,50)}}</td>
                        <td>{{getComplaintStatus(complaint.ComplaintId)|titlecase}}</td>
                        <td class="text-center">
                          <div class="table_icon">
                            <fa-icon [icon]="faEye" (click)="viewcomplain(complaint.id)" title="Edit State"></fa-icon>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
