@import "../../../../styles.scss";

.manage-specialty .buttonFull {
  width: auto !important;
  color: $white;
}
.manage-specialty .card-title {
  font-size: 22px;
  font-weight: 800;
  position: relative;
}
.manage-specialty .card-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50%;
  height: 3px;
  background-color: $primary-color;
}
.card {
  border-color: #ededed !important;
  border-radius: 0px !important;
}