<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <ratelist-menu></ratelist-menu>
        </div>
        <div class="col-md-9 mt-5">
            <h2 class="mb-3">{{categoryName | uppercase}}</h2>
            <div class="card shadow">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Add</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let commodity of commodityAndRateList;let i =index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{commodity.name}}</td>
                                <td>
                                    <fa-icon [icon]="faEdit" (click)="view(commodity.id)"></fa-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>