
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <ratelist-adminmenu></ratelist-adminmenu>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-6 manage-specialty mt-3">
                    <h3 *ngIf="edit" class="card-title">Edit Department</h3>
                    <h3 *ngIf="!edit" class="card-title">Add Department</h3>
                </div>
                <div class="col-6 text-end">
                    <button type="button" (click)="back()" class="btn buttonFull buttonFull-transparent">
                        Back
                    </button>
                </div>
            </div>
            <div class="row mt-5">
                <form #form="ngForm" (ngSubmit)="saveDeparment()">
                    <div class="col-12 mb-4">
                        <div class="mb-3 form-group position-relative">
                            <label for="name">Department Name</label>
                            <input type="text" class="form-control input_feild" id="name" name="name" placeholder=" "
                                [(ngModel)]="  department.name" required>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="mb-3 form-group position-relative">
                            <label for="name">Department Address</label>
                            <input type="text" class="form-control input_feild" id="address" name="address" placeholder=" "
                                [(ngModel)]="  department.address" required>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="mb-3 form-group position-relative">
                            <label for="name">Department contactPersonName</label>
                            <input type="text" class="form-control input_feild" id="contactPersonName" name="contactPersonName" placeholder=" "
                                [(ngModel)]="  department.contactPersonName" required>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="mb-3 form-group position-relative">
                            <label for="tel">Department contactNumber</label>
                            <input type="text" class="form-control input_feild" id="contactNumber" name="contactNumber" placeholder=" "
                                [(ngModel)]="  department.contactNumber" required>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="mb-3 form-group position-relative">
                            <label for="name">Department departmentEmail</label>
                            <input type="email" class="form-control input_feild" id="departmentEmailId" name="departmentEmailId" placeholder=" "
                                [(ngModel)]="  department.departmentEmailId" required>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn buttonFull" [disabled]="!form.valid">
                            save
                        </button>
                        <button type="button" (click)="back()" class="btn buttonFull buttonFull-transparent ms-2">
                            cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
</div>
