<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 mb-5">
            <ratelist-corporatemenu></ratelist-corporatemenu>
        </div>
        <div class="col-md-10">
            <div class="card shadow mt-3 mb-3 p-3">
                <h1>corporate home</h1>
                <p> Name: {{currentCorporation.name}}</p>
                <p> Address: {{currentCorporation.address}}</p>
                <p> Phone: {{currentCorporation.contact}}</p>
                <p> Email: {{currentCorporation.email}}</p>
            </div>
            <div *ngIf="loggedinUser.roleId === Role.corporateAdmin">
                <button class="
                btn buttonFull buttonFull-transparent ms-2 mb-5 mt-3 shadow
                p-3
                " (click)="addUser()">Add User</button>
                <div class="card shadow">

                    <table class="table table-striped mt-5 mb-5" datatable [dtOptions]="dtOptions"
                        [dtTrigger]="dtTrigger">
                        <thead>
                            <tr>
                                <th scope="col">Index</th>
                                <th scope="col">email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Corporation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of corporateusers; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{user.email}}</td>
                                <td>{{getUserRole(user.roleId)}}</td>
                                <td>{{getCorporationName(user.CorporationId)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>