<div class="user-page">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-11 col-md-10 col-lg-6 mx-auto">
                <div class="user-form">
                    <div class="form-inner-side">
                        <h2>
                            <strong>Welcome!</strong><br /><span>Sign into your account</span>
                        </h2>
                        <div class="errorDiv">
                            <span *ngIf="hasError" class="text-danger">Invalid Email or Password</span>
                        </div>
                        <form #form="ngForm" class="mt-4">
                            <div class="form-group mb-4">
                                <div class="input-div position-relative">
                                    <span class="input-icon"><fa-icon [icon]="faEye"></fa-icon></span>
                                    <input [(ngModel)]="user.email" name="email" id="email"
                                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel" type="text"
                                        placeholder="Username" class="form-control input_feild border_less" required />
                                </div>
                                <div class="errorDiv">
                                    <span [hidden]="email.valid || email.pristine" class="text-danger">Email
                                        required</span>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <div class="input-div position-relative">
                                    <div class="" *ngIf="!showPassword" (click)="seepassword()">
                                        <fa-icon [icon]="faEye" class="passwordEye"></fa-icon>
                                    </div>
                                    <div class="" *ngIf="showPassword" (click)="seepassword()">
                                        <fa-icon [icon]="faEyeSlash" class="passwordEye"></fa-icon>
                                    </div>
                                    <span class="input-icon"><fa-icon [icon]="faLock"></fa-icon></span>
                                    <input [(ngModel)]="user.password"
                                        pattern="^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=]).*$" name="password"
                                        minlength="8" #password="ngModel" type="password" id="password"
                                        placeholder="Password" class="form-control input_feild border_less" required />
                                </div>
                                <!-- <div class="errorDiv"><span class="text-danger">Passowrd required</span></div> -->
                            </div>
                            <div class="form-group mb-4">
                                <a [routerLink]="['/resetpassword']" class="forgot-password">Forgot Password?</a>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <button class="btn btn-primary buttonFull text-uppercase" type="submit"
                                        (click)="signIn()">
                                        <span *ngIf="!busy">login</span>
                                        <span *ngIf="busy">
                                            <div class="spinner-border text-light" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>