<div class="container">
    <h1> Remark History</h1>
    <div class="remark-history" *ngFor="let complaint of assignComplaints;">
        <ul *ngIf="complaint.remarks.length > 1"  class="remark-history-remark-list">
            <li class="remark-history-remark-list-item">
                <div class="remark-history-remark">
                    <p class="remark-history-remark-text">{{complaint.remarks}}</p>
                    <p class="remark-history-remark-date">{{complaint.createdAt | date:'medium'}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>