<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card sidebar_query">
                <div class="card-body">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item mb-3">
                            <a class="nav-link py-3" routerLinkActive="active" [routerLink]="['/admin/states']"
                                pathMatch="full">
                                states
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link py-3" routerLinkActive="active" [routerLink]="['/admin/districts']"
                                pathMatch="full">
                                districts
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link py-3" routerLinkActive="active" [routerLink]="['/admin/tehsils']"
                                pathMatch="full">
                                tehsils
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link py-3" routerLinkActive="active" [routerLink]="['/admin/categories']"
                                pathMatch="full">
                                Categories
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link py-3" routerLinkActive="active" [routerLink]="['/admin/units']"
                                pathMatch="full">
                                Units
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link py-3" routerLinkActive="active" [routerLink]="['/admin/mandi']"
                                pathMatch="full">
                                Mandi
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link py-3" routerLinkActive="active" [routerLink]="['/admin/commodities/1']"
                                pathMatch="full">
                                Commodities
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link py-3" routerLinkActive="active" [routerLink]="['/admin/userlist']"
                                pathMatch="full">
                                Users
                            </a>
                        </li>

                        <li class="nav-item mb-3">
                            <a class="nav-link py-3" routerLinkActive="active"
                                [routerLink]="['/admin/districtrateconfiguration']" pathMatch="full">
                                District rate
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link py-3" routerLinkActive="active"
                                [routerLink]="['/admin/mandicommoditypricing']" pathMatch="full">
                                Mandi Commodity Pricing
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link py-3" routerLinkActive="active" [routerLink]="['/admin/adminretailratelist']"
                                pathMatch="full">
                                Retail Rate List
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link py-3" routerLinkActive="active" [routerLink]="['/admin/departments']"
                                pathMatch="full">
                                Departments
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="nav-link py-3" routerLinkActive="active" [routerLink]="['/admin/designation']"
                                pathMatch="full">
                                Designation
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>