<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 mt-5 mb-5">
            <ratelist-adminmenu></ratelist-adminmenu>
        </div>
        <div *ngIf="loading" class="col-md-9">
            <div>
                <div class="col-12 d-flex justify-content-center align-items-center" style="height: 80vh">
                    <div class="spinner-border text-primary" role="status"></div>
                </div>
            </div>
        </div>
        <div *ngIf="!loading" class="col-9">
            <form #form="ngForm" (ngSubmit)="saveUser()">
                <div class="col-12 mt-4 mb-4">
                    <div class="mb-3 form-group position-relative">
                        <label for="name">First Name</label>
                        <input type="text" class="form-control input_feild" id="firstName" name="firstName"
                            placeholder=" " [(ngModel)]="userProfile.Profile.firstName" required />
                    </div>
                    <div class="mb-3 form-group position-relative">
                        <label for="name">Last Name</label>
                        <input type="text" class="form-control input_feild" id="lastName" name="lastName"
                            placeholder=" " [(ngModel)]="userProfile.Profile.lastName" required />
                    </div>
                    <div class="mb-3 form-group position-relative">
                        <label for="name">Email</label>
                        <input type="text" 
                        autocomplete="off"
                        class="form-control input_feild" id="email" name="email" placeholder=" "
                            [(ngModel)]="userProfile.email" required disabled={{edit}} />
                    </div>
                    {{edit}}

                    <div
                    *ngIf=!edit class="mb-3 form-group position-relative">
                        <label for="name">Password</label>
                        <input 
                        autocomplete="off"
                        type="text" class="form-control input_feild" id="password" name="password"
                            placeholder=" " [(ngModel)]="userProfile.password" required />
                    </div>
                    <!-- select role -->
                    <div class="mb-3 form-group position-relative">
                        <label for="name">Role</label>
                        <select class="form-control input_feild" id="role" name="role" [(ngModel)]="userProfile.roleId"
                            required>
                            <option *ngFor="let userrole of roles" [value]="userrole.id">{{userrole.name}}</option>
                        </select>
                    </div>
                    <!-- select mandi -->
                    <div class="mb-3 from-group position-relative">
                        <label for="name">Assign Departments </label>
                        <select class="form-control input_feild" id="mandi" name="mandi"
                            [(ngModel)]="userProfile.Profile.departmentId" required>
                            <option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}
                            </option>
                        </select>
                    </div>
                    <div class="mb-3 from-group position-relative">
                        <label for="name">Assign state district </label>
                        <select class="form-control input_feild"
                        (ngModelChange)="getDistrictsofstate($event)"
                         id="stateid" name="stateid" [(ngModel)]="
                            userProfile.Profile.stateId" required>
                            <option *ngFor="let state of states" [value]="state.id">{{state.name}}</option>
                        </select>
                    </div>
                    <div class="mb-3 from-group position-relative">
                        <label for="name">District</label>
                        <select class="form-control input_feild" 
                        id="district" 
                        name="district" [(ngModel)]="userProfile.Profile.districtId" required>
                            <option *ngFor="let district of districts" [value]="district.id">{{district.name}}</option>
                        </select>
                    </div>
                </div>


                <!-- show list of corporations if userrole is Role.corporationUser -->

                <div 
                *ngIf="userProfile.roleId == Roles.corporateUser || userProfile.roleId == Roles.corporateAdmin"
                class="mb-3 form-group position-relative">
                    <label for="name">Assign Corporation </label>
                    <select class="form-control input_feild" id="corporation" name="corporation"
                        [(ngModel)]="userProfile.CorporationId" required>
                        <option *ngFor="let corporation of corporations" [value]="corporation.id">
                            {{corporation.name}}
                        </option>
                    </select>
                </div>

                <div class="col-12 mt-4 mb-4">
                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Save</button>
                </div>
            </form>
        </div>
    </div>