<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <ratelist-adminmenu></ratelist-adminmenu>
        </div>
        <div class="col-9 mt-5">
            <div class="row">
                <div class="col-6 manage-specialty mt-3">
                    <h3 *ngIf="edit" class="card-title">Edit Category</h3>
                    <h3 *ngIf="!edit" class="card-title">Add Category</h3>
                </div>
                <div class="col-6 text-end">
                    <button type="button" (click)="back()" class="btn buttonFull buttonFull-transparent">
                        Back
                    </button>
                </div>
            </div>
            <div class="row mt-5">
                <form #form="ngForm" (ngSubmit)="saveBanner()">
                    <div class="col-12 mb-4">
                        <div class="mb-3 form-group position-relative">
                            <label for="name">banner title</label>
                            <input type="text" class="form-control input_feild" id="title" name="title"
                                placeholder="title" [(ngModel)]="banner.title" required />
                        </div>
                    </div>
                    <!-- banner description -->
                    <div class="col-12 mb-4">
                        <div class="mb-3 form-group position-relative">
                            <label for="name">banner description</label>
                            <input type="text" class="form-control input_feild" id="description" name="description"
                                placeholder="description" [(ngModel)]="banner.description" required />
                        </div>
                    </div>
                    <!-- status checkbox  -->
                    <div class="col-12 mb-4">
                        <div class="mb-3 form-group position-relative">
                            <label for="name">status</label>
                            <input input class="form-control form-check-input" type="checkbox" id="status" name="status"
                                [(ngModel)]="banner.status" />
                        </div>
                    </div>
                    <!-- banner link -->
                    <div class="col-12 mb-4">
                        <div class="mb-3 form-group position-relative">
                            <label for="name">banner link</label>
                            <input type="text" class="form-control input_feild" id="link" name="link"
                                placeholder=" link" [(ngModel)]="banner.link" />
                        </div>
                    </div>
                    <!-- start Date -->
                    <div class="col-12 mb-4">
                        <div class="mb-3 form-group position-relative">
                            <label for="name">start Date</label>
                            <input type="date" class="form-control input_feild" id="name" name="name" placeholder=" "
                                [(ngModel)]="banner.startDate" />
                        </div>
                    </div>
                    <!-- end    date -->
                    <div class="col-12 mb-4">
                        <div class="mb-3 form-group position-relative">
                            <label for="name">end Date</label>
                            <input type="date" class="form-control input_feild" id="name" name="name" placeholder=" "
                                [(ngModel)]="banner.endDate" required />
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="mb-3 form-group position-relative">
                            <label for="name">State</label>
                            <select class="form-control input_feild" id="stateid" name="stateid"
                                [(ngModel)]="banner.stateId" required>
                                <option *ngFor="let state of states" [value]="state.id">{{state.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 mb-4" *ngIf="edit">
                        <div class="mb-3 form-group position-relative">
                            <label for="name">Image</label>
                            <img [src]="banner.image" class="categoryimage" />
                        </div>
                    </div>
                    <!-- upload image to category -->
                    <div class="col-12 mb-4">
                        <div class="mb-3 form-group position-relative">
                            <label for="name">Upload Image</label>
                            <!-- upload base64 image  -->
                            <input type="file" class="form-control input_feild" id="image" name="image"
                                placeholder="image" accept="image/png, image/jpeg, image/jpg" [(ngModel)]="banner.image"
                                (change)="onFileChange($event)" />
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn buttonFull" [disabled]="!form.valid">
                            save
                        </button>
                        <button type="button" (click)="back()" class="btn buttonFull buttonFull-transparent ms-2">
                            cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>