<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 mb-5">
            <ratelist-moderatormenu></ratelist-moderatormenu>
        </div>
        <div class="col-md-9">
            <div class="row mt-5">
                <form #form="ngForm" (ngSubmit)="onSubmit()">
                    <div class="col-12 mb-4">
                        <div class="mb-3 form-group position-relative">
                            <label for="commodity" class="form-label">Commodity</label>
                            <select class="form-control input_feild" id="commodity" name="commodity"
                                [(ngModel)]="mandiCommodity.commodityId" required>
                                <option *ngFor="let commodity of commodities" [ngValue]="commodity.id">
                                    {{commodity.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn buttonFull" [disabled]="!form.valid">
                            Add
                        </button>

                        <button type="button" (click)="back()" class="btn buttonFull buttonFull-transparent ms-2">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>