<!-- create a dashbard -->
<div *ngIf="!loading" class="container-fluid">
    <div class="col-md-12 mt-5">
        <div class="row">
            <div *ngFor="let category of categories" class="col">
                <div class="card p-3 shadow btn " (click)="loadingessentials(category.id,userId)">
                    <div class="card-block stretched-link text-decoration-none">
                        <h4 class="card-title">{{category.name | uppercase}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <h3 class="">{{state.name}}</h3>
            <h3>{{district.name}}</h3>
        </div>
        <div class="row mt-3">
            <div class="card shadow">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Mandi price </th>
                            <th scope="col">Retail Price</th>
                            <th scope="col">Category</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Mandi</th>
                            <th scope="col">District</th>
                            <th scope="col">last updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rate of ratelist">
                            <td>{{rate.Commodity.name}}</td>
                            <td>{{rate.mandiPrice}}</td>
                            <td>{{rate.retailPrice}}</td>
                            <td>{{rate.Commodity.name}}</td>
                            <td>{{rate.Unit.name}}</td>
                            <td>{{rate.Mandi.name}}</td>
                            <td>{{rate.District.name}}</td>
                            <td>{{rate.updatedAt | date:'medium'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<ratelist-loadingscreen *ngIf="loading"></ratelist-loadingscreen>